.card{
    width: 350px;
    height: auto;
    border-radius: 15px;
    padding: 20px 20px;
    overflow: hidden;
    background-color: white;
    height: 620px;
    
  }
  
  .card-img-holder{
    width: 100%;
    height: auto;
  }
  
  .card-img-holder img{
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;

  }
  
  .blog-title{
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  
  .description{
    padding: 1rem 0;
    color: darkblue;
    font-size: 1rem;
  }
  
  .blog-time{
    font-size: .8rem;
    color: blue;
  }
  
  .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .options span{
    font-weight: 600;
    color: blue;
  }
  
  .btn{
    font-size: 20px;
    padding: 15px 8px;
    border-radius: 15px;
    font-weight: 400;
    background: white;
    color:blue;
  }
  .shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
  .card-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    gap: 15px;

  }
  .app{
     width: 100%;
    height: 100vh;
}
@media(max-width:800px){
  .card-container{display: flex;
    flex-direction: column;
  
  }

}